<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ModelClients" connectionString="data source=192.168.50.108;initial catalog=clients;persist security info=True;user id=sa;password=mireles_tkd12;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model1" connectionString="data source=192.168.50.176;initial catalog=clients;persist security info=True;user id=sa;password=mireles_tkd12;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model11" connectionString="data source=192.168.50.176;initial catalog=clients;persist security info=True;user id=sa;password=mireles_tkd12;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model12" connectionString="data source=192.168.50.176;initial catalog=clients;persist security info=True;user id=sa;password=mireles_tkd12;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model2" connectionString="data source=192.168.50.176;initial catalog=clients;persist security info=True;user id=sa;password=mireles_tkd12;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model13" connectionString="data source=192.168.50.176;initial catalog=clients;persist security info=True;user id=sa;password=mireles_tkd12;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model14" connectionString="data source=192.168.50.176;initial catalog=clients;persist security info=True;user id=sa;password=mireles_tkd12;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model15" connectionString="data source=192.168.50.176;initial catalog=clients;persist security info=True;user id=sa;password=mireles_tkd12;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model16" connectionString="data source=192.168.50.176;initial catalog=clients;persist security info=True;user id=sa;password=mireles_tkd12;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model17" connectionString="data source=192.168.50.176;initial catalog=clients;persist security info=True;user id=sa;password=mireles_tkd12;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model18" connectionString="data source=192.168.50.176;initial catalog=clients;persist security info=True;user id=sa;password=mireles_tkd12;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model19" connectionString="data source=localhost;initial catalog=clients;persist security info=True;user id=sa;password=mireles_tkd12;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model110" connectionString="data source=localhost;initial catalog=clients;persist security info=True;user id=sa;password=mireles_tkd12;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model111" connectionString="data source=localhost;initial catalog=clients;persist security info=True;user id=sa;password=mireles_tkd12;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model112" connectionString="data source=192.168.50.176;initial catalog=clients;persist security info=True;user id=sa;password=mireles_tkd12;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model113" connectionString="data source=192.168.50.176;initial catalog=clients;persist security info=True;user id=sa;password=mireles_tkd12;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model114" connectionString="data source=192.168.50.176;initial catalog=clients;persist security info=True;user id=sa;password=mireles_tkd12;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model115" connectionString="data source=192.168.50.176;initial catalog=clients;persist security info=True;user id=sa;password=mireles_tkd12;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model116" connectionString="data source=192.168.50.176;initial catalog=clients;persist security info=True;user id=sa;password=mireles_tkd12;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model117" connectionString="data source=192.168.50.176;initial catalog=clients;persist security info=True;user id=sa;password=mireles_tkd12;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model118" connectionString="data source=192.168.50.176;initial catalog=clients;persist security info=True;user id=sa;password=mireles_tkd12;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model119" connectionString="data source=192.168.50.176;initial catalog=clients;persist security info=True;user id=sa;password=mireles_tkd12;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model120" connectionString="data source=192.168.50.176;initial catalog=clients;persist security info=True;user id=sa;password=mireles_tkd12;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model121" connectionString="data source=localhost;initial catalog=clients;persist security info=True;user id=sa;password=mireles_tkd12;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model122" connectionString="data source=localhost;initial catalog=clients;persist security info=True;user id=sa;password=mireles_tkd12;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model123" connectionString="data source=localhost;initial catalog=clients;persist security info=True;user id=sa;password=mireles_tkd12;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model124" connectionString="data source=localhost;initial catalog=clients;persist security info=True;user id=sa;password=mireles_tkd12;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model125" connectionString="data source=localhost;initial catalog=clients;persist security info=True;user id=sa;password=mireles_tkd12;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model126" connectionString="data source=localhost;initial catalog=clients;persist security info=True;user id=sa;password=mireles_tkd12;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model127" connectionString="data source=localhost;initial catalog=clients;persist security info=True;user id=sa;password=mireles_tkd12;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="TablasModel" connectionString="data source=localhost;initial catalog=clients;persist security info=True;user id=sa;password=mireles_tkd12;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model128" connectionString="data source=localhost;initial catalog=clients;persist security info=True;user id=sa;password=mireles_tkd12;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model129" connectionString="data source=localhost;initial catalog=clients;persist security info=True;user id=sa;password=mireles_tkd12;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model21" connectionString="data source=localhost;initial catalog=clients;persist security info=True;user id=sa;password=mireles_tkd12;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model130" connectionString="data source=localhost;initial catalog=clients;persist security info=True;user id=sa;password=mireles_tkd12;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model131" connectionString="data source=localhost;initial catalog=clients;persist security info=True;user id=sa;password=mireles_tkd12;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model132" connectionString="data source=localhost;initial catalog=clients;persist security info=True;user id=sa;password=mireles_tkd12;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model133" connectionString="data source=localhost;initial catalog=clients;persist security info=True;user id=sa;password=mireles_tkd12;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model134" connectionString="data source=localhost;initial catalog=clients;persist security info=True;user id=sa;password=mireles_tkd12;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model135" connectionString="data source=localhost;initial catalog=clients;persist security info=True;user id=sa;password=mireles_tkd12;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model136" connectionString="data source=localhost;initial catalog=clients;persist security info=True;user id=sa;password=mireles_tkd12;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model137" connectionString="data source=localhost;initial catalog=clients-backup;persist security info=True;user id=sa;password=mireles_tkd12;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model138" connectionString="data source=localhost;initial catalog=clients-backup;persist security info=True;user id=sa;password=mireles_tkd12;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model139" connectionString="data source=localhost;initial catalog=clients-backup;persist security info=True;user id=sa;password=mireles_tkd12;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>